<h2>{{ board?.name }}</h2>

<div style="display: flex; gap: 20px;">

  <div *ngFor="let list of board?.lists"
       cdkDropList
       [id]="'list-' + list.id"
       [cdkDropListData]="list.cards"
       [cdkDropListConnectedTo]="connectedLists"
       (cdkDropListDropped)="drop($event, list)"
       style="width: 250px; border: 1px solid gray; padding: 10px;">

    <h3>{{ list.name }}</h3>

    <div *ngFor="let card of list.cards"
         cdkDrag
         style="padding: 10px; margin: 5px; background: #eee; cursor: grab;">

      {{ card.title }}

      <!-- Assigned User -->
  <small *ngIf="card.assigned_to">
    Assigned: {{ card.assigned_to.username }}
  </small>

  <!-- Assign Dropdown -->
  <select (change)="assignUser(card, $event)">
    <option value="">-- Assign --</option>
    <option *ngFor="let user of users" [value]="user.id">
      {{ user.username }}
    </option>
  </select>

    </div>

  </div>

</div>

<hr>
<h3>Activity Log</h3>
<div *ngFor="let act of board?.activities">
  <p>
    <strong> {{act.user?.username || 'Someone' }} </strong>
    {{ act.action }}
    <small> ({{ act.created_at | date:'short' }}) </small>
  </p>
</div>